
*{
    margin: 5px;
    padding:5px;
    list-style: none;
    text-decoration: none;
    border-radius: 5%;

}

.countries{
    position: fixed;
    width: 250px;
    height: 100%;
    background: white;
    float: left;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 3);
}

.countries ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
}

ul li:hover a{
    background-color: coral;
    color: black;
}